#home-animation{
    padding-left: 50px;
    padding-right: 50px;
}
#home-heading{
    transition-property: all;
    transition-duration: 2s;
}
#home-heading:hover{
    color: blue!important;
    font-size: 4em;
}
#con{
    position: relative;
    width: 100%;
    height: 300px;
    background: rgb(181,189,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */


}
#inner-con{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#my-row{
    alignment: center;
}
#stage{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;

}
#stage #home-h1{
    position: absolute;
    top: 70%;
    margin: 0;
    padding: 0;
    opacity: 0;
    text-align: center;
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    transition-property: top, opacity;
    transition-duration: 1s;
}
#home-animation:hover #stage h1{
    top: -30%;
    opacity: 1;

}
#shop-name{
    font-family: 'Monoton', cursive;
    color: blue;
}
.card-body{
    margin: 0;
}
.home-main{
    display: flex;
}
#small-bx{
    justify-content: space-between;
}